/*
*= require material_icons
*/
/*
*= require material_icons.outlined
*/
/*
*= require material_icons.sharp
*/
/*
*= require material_icons.round
*/
/*
*= require material_icons.twotone
*/
/*
*= require material_icons.helpers
*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

.auth-layout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://tactic.au/static/7e3fc73a8a099c48a2d3f6f4c970c81b/meeting-room-design-2.jpg);
}

.flatpickr-calendar,
.flatpickr-time {
  font-size: 12px !important;
}

#calendar.fc h2.fc-toolbar-title {
  font-size: 18px !important;
}
